@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Work+Sans:wght@400;600;700&display=swap");
@import "tailwindcss";
@theme {
  --color-primary: #731323;
  --color-secondary: #a51f35;
  --color-accent: #ffc724;
  --color-border: #b1b1b1;
  --color-main: #f6f6f6;
  --font-Poppins: "Poppins", sans-serif;
  --font-Work-Sans: "Work Sans", sans-serif;
  --breakpoint-mbs: 320px;
  --breakpoint-mbm: 375px;
  --breakpoint-mbl: 425px;
  --breakpoint-tbs: 640px;
  --breakpoint-tbm: 768px;
  --breakpoint-tbl: 1024px;
}

input[type="number"]::-webkit-inner-spin-button {
  position: absolute;
  width: 12.5%;
  height: 100%;
  top: 0;
  right: 0;
}

/* Hide number input spinners (Chrome, Safari, Edge) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide number input spinners (Firefox) */
input[type="number"] {
  -moz-appearance: textfield;
}

.f404-header {
  font-family: SF Pro Display, sans-serif;
}