@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Work+Sans:wght@400;600;700&display=swap');
@import "tailwindcss";
@theme {
  --color-primary: #731323;
  --color-secondary: #a51f35;
  --color-accent: #ffc724;
  --font-Poppins: "Poppins", sans-serif;
  --font-Work-Sans: "Work Sans", sans-serif;
}

